*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 168, 43);
   
    padding: 10px;
}
ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
}
li{
    text-decoration:none;
}
.link{
    text-decoration: none;
}
